<%= link_to "New car", new_users_car_path, class: "btn btn-success", role: "button" %>

<div data-controller="user--cars">
    <div data-user--cars-target="buttons"></div>
    <div data-user--cars-target="cards"></div>
</div>
