<div class="row" data-controller="cards">
  <div class="col-8">
    <div data-cards-target="cars"></div>
  </div>
  <div class="col p-2">
    <h3>Search:</h3>
    <form data-action="cards#search">
      <div class="mb-3">
        <label for="car_make" class="form-label">Make</label>
        <input type="text" class="form-control" id="car_make" name="car[make_cont_any]">
      </div>
      <div class="mb-3">
        <label for="car_model" class="form-label">Model</label>
        <input type="text" class="form-control" id="car_model" name="car[model_cont_any]">
      </div>
      <div class="mb-3">
        <label for="car_body_type" class="form-label">Body Type</label>
        <input type="text" class="form-control" id="car_body_type" name="car[body_type_cont_any]">
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="car_mileage_gt" class="form-label">Mileage from</label>
            <input type="number" min="1" class="form-control" id="car_mileage_gt" name="car[mileage_gt]"></div>
          <div class="col">
            <label for="car_mileage_lt" class="form-label">Mileage to</label>
            <input type="number" min="1" class="form-control" id="car_mileage_lt" name="car[mileage_lt]"></div>
        </div>
      </div>
      <div class="mb-3">
        <label for="car_color" class="form-label">Color</label>
        <input type="text" class="form-control" id="car_color" name="car[color_cont_any]">
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="car_price_gt" class="form-label">Price from</label>
            <input type="number" min="1" class="form-control" id="car_price_gt" name="car[price_gt]">
          </div>
          <div class="col">
            <label for="car_price_lt" class="form-label">Price to</label>
            <input type="number" min="1" class="form-control" id="car_price_lt" name="car[price_lt]">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="car_fuel_type" class="form-label">Fuel type</label>
        <input type="text" class="form-control" id="car_fuel_type" name="car[fuel_type_cont_any]">
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="car_year_gt" class="form-label">Year from</label>
            <input type="number" min="1900" max="2100" class="form-control" id="car_year_gt" name="car[year_gt]">
          </div>
          <div class="col">
            <label for="car_year_lt" class="form-label">Year to</label>
            <input type="number" min="1900" max="2100" class="form-control" id="car_year_lt" name="car[year_lt]">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="car_engine_volume" class="form-label">Engine volume</label>
        <input type="text" class="form-control" id="car_engine_volume" name="car[engine_volume_cont_any]">
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
