<div class="container text-center">
  <div class="row">
    <div class="col" data-controller="cards">
        <div data-cards-target="cars"></div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
